<p>
  Hoi <%= @user.first_name %>
</p>

<p>
  Dies ist eine Erinnerung, dass du <strong>morgen <%= @job.start_at.to_date.to_localized_s :long %></strong> folgenden Einsatz bei basimil.ch hast:
</p>

<div>
  <ul>
    <li><strong>Was?</strong> <%= link_to @job.title, @job %></li>
    <li><strong>Wann?</strong> <%= @job.full_date %></li>
    <li><strong>Wo?</strong> <%= @job.full_address %></li>
  </ul>
</div>

<div>
  <ul>
    <li><strong>Einsatzbeschreibung:</strong> <%= @job.description %></li>
  </ul>
</div>

<p>
  Denke bitte daran, vor dem Einsatz die <a href="http://basimil.ch/abo/mitarbeit#hygieneinformationen"><strong>Hygieneinformationen</strong></a>
  zu lesen. Grundsätzlich sind Kinder auf dem Hof willkommen. Wenn du vor hast, mit Kinder zu kommen, lese bitte unsere <a href="http://basimil.ch/faq/#knnen-whrend-den-einstzen-auch-kinder-mitgebracht-werden"><strong>Empfehlungen</strong></a> dazu.
</p>

<p>
  Falls du verhindert bist, organisiere bitte umgehend einen Ersatz für dich.
</p>

<p>
  Falls du noch Fragen hast, melde dich bitte bei der Ansprechperson:
  <%= @job.user.full_name %> (<%= mail_to @job.user.email %>).
</p>

<% if @custom_info %>
  <p>
    <%= @custom_info %>
  </p>
<% end %>

<p>
  Vielen Dank!
</p>

<%= render "shared/mailer_footer" %>
