<p>
  Hoi <%= @user.first_name %>
</p>

<p>
  Dies ist eine Erinnerung, dass du <strong>morgen <%= @job.start_at.to_date.to_localized_s :short_with_weekday %></strong> folgenden Einsatz bei basimil.ch hast:
</p>

<div>
  <ul>
    <li><strong>Was?</strong> <%= link_to @job.title, @job %></li>
    <li><strong>Wann?</strong> <%= @job.full_date %></li>
    <li><strong>Wo?</strong> <%= @job.full_address %></li>
  </ul>
</div>

<div>
  <ul>
    <li><strong>Einsatzbescreibung:</strong> <%= @job.description %></li>
  </ul>
</div>

<p>
  Falls du verhindert bist, organisiere bitte umgehend einen Ersatz für dich.
</p>
<p>
  Falls du noch Fragen hast, melde dich bitte bei der Ansprechperson:
  <%= @job.user.full_name %> (<%= mail_to @job.user.email %>).
</p>

<p>
  Vielen Dank!
</p>

<%= render "shared/mailer_footer" %>
