<p>
  Hoi <%= @user.first_name %>
</p>

<p>
  <strong>
    Der Einsatz "<%= link_to @job.title,  @job %>" am <%= @job.full_date %>, wofür du angemeldest warst, wurde abgesagt!
  </strong>
</p>

<p>
  Du kannst dich für andere Einsätze <%= link_to "anmelden", jobs_url %>.
</p>

<p>
  Falls du Fragen hast, melde dich bitte bei der Ansprechperson:
  <%= @job.user.full_name %> (<%= mail_to @job.user.email %>) (im CC dieser E-Mail).
</p>

<%= render "shared/mailer_footer" %>
