<% provide(:title, t('.title')) %>

<div class="current_user_job_overview">
  <div class="title">
    <strong><%= t ".job_overview_title" %></strong>
    <hr>
  </div>
  <%= render 'user_overview', user: current_user %>
</div>

<% unless @jobs.empty? %>
  <% if month = params[:month] %>
    <div class="text-center">
      <%= t ".showing_jobs_for_month_html", month: t("date.month_names")[month.to_i] %>
    </div>
  <% else %>
    <div class="text-center">
      <%= t ".showing_jobs_html",
          from: @jobs.first.start_at.relative_in_words,
          to: @jobs.last.start_at.relative_in_words %>
    </div>
  <% end %>
<% end %>

<div class="row jobs_table_options"> <!-- col-[size]-[x] where [x] adds to 12, and [size] is one of: xs, sm, 'md' or 'lg'-->
  <div class="col-sm-5">
    <%# SOURCE: http://nixmash.com/ruby-on-rails/adding-custom-options-to-rails-select-controls/ %>
    <%= select_tag 'job_type_filter_selector',
        options_for_select(JobType.all.collect { |jt| [jt.title, jt.id] } +
          [[t('.free_type_jobs'), 'nil']], @job_type_id.inspect),
        class: "form-control",
        include_blank: t(".show_all_job_types") %>
  </div> <!-- /col -->
  <div class="col-sm-3">
    <%= select_tag 'job_month_filter_selector',
        # SOURCE: http://stackoverflow.com/a/5567844
        # SOURCE: https://www.ruby-forum.com/topic/652976
        options_for_select((1..12).map {|m| [t("date.month_names")[m], m]},
                          params[:month]),
        class: "form-control",
        include_blank: t(".show_jobs_from_now") %>
  </div> <!-- /col -->
  <div class="col-sm-3 col-sm-offset-1 text-center">
    <%= will_paginate page_links: false %>
  </div> <!-- /col -->
</div> <!-- /row -->

<div class="table-responsive jobs-table">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th></th>
        <th><%= t 'table_headers.date' %></th>
        <th><%= t 'table_headers.time' %></th>
        <th><%= t 'table_headers.job_title' %></th>
        <th><%= t 'table_headers.place' %></th>
        <th><%= t 'table_headers.slots' %></th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr class="job-info <%= "job-past" if job.past? %>" data-href="<%= job_path(job.id) %>">
          <td><%= job.job_type_id.inspect %></td>
          <td><%= job.start_at.to_date.to_localized_s :short_with_weekday %></td>
          <td><%= "#{job.start_at.to_s(:time)} - #{job.end_at.to_s(:time)}" %></td>
          <td class="job_title"><%= job.title %></td>
          <td><%= job.place %></td>
          <td class="signup_count">
            <% status = job.signup_status %>
            <% count = job.job_signups.count %>
            <% pc = (count.to_f/job.slots * 100).to_i %>
              <%= link_to job do %>
                <div class="progress">
                  <div class="progress-bar progress-bar-<%= status %>" role="progressbar" aria-valuenow="<%= pc %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= pc %>%;min-width: 3em;">
                    <%= "#{count} / #{job.slots}" %>
                  </div>
                </div>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if current_user_admin? %>
  <div class="text-center">
    <%= will_paginate %>
  </div>
  <div class="text-center">
    <%= page_entries_info %>
  </div>
<% else %>
  <div class="text-center">
    <%= will_paginate page_links: false %>
  </div>
<% end %>
