<% provide(:title, "#{t '.title'}: #{@job.title}") %>

<p>
  <strong><%= t '.job_type' %>: </strong>
  <% if !@job.job_type %>
    <%= t('.no_job_type')  %>
  <% elsif current_user_admin? %>
    <%= link_to @job.job_type.title, @job.job_type %>
  <% else %>
    <%= @job.job_type.title  %>
  <% end %>
</p>

<p>
  <strong><%= t '.description' %>: </strong>
  <%= @job.description %>
</p>

<p>
  <strong><%= t '.date' %>: </strong>
  <%= @job.start_at.to_date.to_localized_s :long_with_weekday %>
  <i>(<%= @job.start_at.relative_in_words %>)</i>
</p>

<p>
  <strong><%= t '.time' %>: </strong>
  <%= "#{@job.start_at.to_s(:time)} - #{@job.end_at.to_s(:time)}" %>
</p>

<p>
  <strong><%= t '.place' %>: </strong>
  <%= @job.place %>
</p>

<p>
  <strong><%= t '.address' %>: </strong>
  <%= @job.address %>
</p>

<p>
  <strong><%= t '.contact_user' %>: </strong>
  <% if current_user_admin? %>
    <%= link_to @job.user.full_name, @job.user %>
  <% else %>
    <%= @job.user.full_name %>
  <% end %>
  - <code><%= mail_to @job.user.email %></code>

</p>

<p>
  <strong><%= t '.slots' %>: </strong>
  <%= "#{@job.job_signups.count} von #{@job.slots}" %>
</p>

<ol>
  <%= render @job.job_signups %>
</ol>

<% if @job.full? %>
  <div class="alert alert-success" role="alert">
    <%= t '.job_is_full' %>
  </div>
<% elsif @job.future? %>
  <div class="row">
    <div class="col-sm-4 self-signup-button">
      <%= button_to t('.signup_for_job'),
                  job_signup_path,
                  { class:  "btn btn-success",
                    data: { confirm: t('.signup_confirmation_message') }} %>
    </div> <!-- /col -->
  </div> <!-- /row -->
<% end %>

<% if current_user_admin? && !@job.full? %>
  <div>
    <%= form_tag job_signup_users_path, class: "signup-other-users" do %>
      <div class="row">
        <div class="col-sm-12 users-typeahead">
          <%#
            NOTE: The select element must not include the data-role="tagsinput"
                  attribute if using it from the a jQuery.ready-like function.
            SOURCE: http://stackoverflow.com/q/21460702
          %>
          <%= select_tag "users", nil, multiple: true,
              placeholder: t('.signup_other_users_placeholder'),
              data: {
          available_slots: @job.slots - @job.job_signups.count,
          typeahead_no_suggestions_msg: t(".no_typeahead_user_suggestions_found")
              } %>
        </div> <!-- /col -->
      </div> <!-- /row -->
      <div class="row">
        <div class="col-sm-4">
          <%= submit_tag t('.signup_other_users_for_job'),
                         class:  "btn btn-success",
                         disabled: true,
                         data: { confirm: t('.signup_users_confirmation_message') }%>
        </div> <!-- /col -->
      </div> <!-- /row -->
    <% end %>
  </div>
<% end %>

<% if current_user_admin? %>
  <%= form_for(@job) do |f| %>
    <div class="row">
      <div class="col-sm-12">
        <%= f.field_for :notes %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <%= f.submit_button t('.save_notes') %>
      </div>
    </div>
  <% end %>
<% end %>

<% if current_user_admin? %>
  <div class="job_show_bottom_actions">
    <%= link_to 'Duplicate', new_job_path(duplicate: @job.id) %> |
    <%= link_to 'Edit', edit_job_path(@job) %> |
    <%# link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Back', jobs_path %>
  </div>
<% end %>
