<% provide(:title, "#{t '.title'}: #{@job.title}") %>

<p>
  <strong><%= t '.description' %>: </strong>
  <%= @job.description %>
</p>

<p>
  <strong><%= t '.date' %>: </strong>
  <%= @job.start_at.to_date.to_localized_s :long_with_weekday %>
  (<%= @job.start_at.relative_in_words %>)
</p>

<p>
  <strong><%= t '.time' %>: </strong>
  <%= "#{@job.start_at.to_s(:time)} - #{@job.end_at.to_s(:time)}" %>
</p>

<p>
  <strong><%= t '.place' %>: </strong>
  <%= @job.place %>
</p>

<p>
  <strong><%= t '.address' %>: </strong>
  <%= @job.address %>
</p>

<p>
  <strong><%= t '.contact_user' %>: </strong>
  <% if current_user_admin? %>
    <%= link_to @job.user.full_name, @job.user %>
  <% else %>
    <%= @job.user.full_name %>
  <% end %>
  - <code><%= mail_to @job.user.email %></code>

</p>

<p>
  <strong><%= t '.slots' %>: </strong>
  <%= "#{@job.job_signups.count} von #{@job.slots}" %>
</p>

<ol>
  <%= render @job.job_signups %>
</ol>

<% if @job.full? %>
  <div class="alert alert-success" role="alert">
    <%= t '.job_is_full' %>
  </div>
<% elsif @job.future? %>
  <div class="row">
    <div class="col-sm-4">
      <%= button_to t('.signup_for_job'),
                  job_signup_path,
                  { class:  "btn btn-success",
                    data: { confirm: t('.signup_confirmation_message') }} %>
    </div> <!-- /col -->
  </div> <!-- /row -->
<% end %>


<% if current_user_admin? %>
  <%= link_to 'Edit', edit_job_path(@job) %> |
  <%= link_to 'Destroy', @job, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', jobs_path %>
<% end %>


