<%= render 'shared/error_messages', errors: user.errors %>

<%#
  NOTE: When constructing a form using form_for(user), Rails uses POST
        if @user.new_record? is true and PATCH if it is false.
%>
<%= form_for user, html: { class: 'user-form' },
             # url: current_user_admin? ? user : profile_update_path ,
             url: case
                    when controller_name == 'signups'
                      signup_validation_path
                    when current_user_admin?
                      user
                    else
                      profile_update_path
                    end,
             view_mode: (defined?(view_mode) ? view_mode : false) do |f| %>

  <% form_buttons = capture do %>
    <div class="row form-buttons">
      <% if f.options[:view_mode] %>
        <div class="col-md-3 col-md-offset-9 col-sm-4 col-sm-offset-8">
          <% if current_user_admin? %>
            <%= f.edit_button edit_user_path(@user) %>
          <% else %>
            <%= f.edit_button profile_edit_path %>
          <% end %>
        </div>
      <% else %>
        <div class="col-md-offset-7 col-sm-2 col-sm-offset-6 col-xs-4">
          <% if ! logged_in? %>
            <%= f.cancel_button :back %>
          <% elsif current_user_admin? %>
            <% if user.new_record? %>
              <%= f.cancel_button users_path %>
            <% else %>
              <%= f.cancel_button user %>
            <% end %>
          <% else %>
            <%= f.cancel_button profile_path %>
          <% end %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-8">
          <% if ! logged_in? %>
            <%= f.submit_button t('.signup'), confirm: t('.confirm_signup_msg') %>
          <% elsif user.new_record? %>
            <%= f.submit_button t('.create_new_user') %>
          <% else %>
            <%= f.submit_button t('.update_user_profile') %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <%= form_buttons %>

  <div class="row">
    <% if controller_name == "signups" %>
      <div class="col-sm-3 col-xs-6">
        <%= f.field_for :first_name, autofocus: true %>
      </div>
    <% else %>
      <div class="col-sm-1 col-xs-2">
        <%= f.field_for :id, readonly: true %>
      </div>
      <div class="col-sm-2 col-xs-4">
        <%= f.field_for :first_name %>
      </div>
    <% end %>
    <div class="col-sm-3 col-xs-6">
      <%= f.field_for :last_name %>
    </div>
    <div class="col-lg-1 col-xs-2">
      <% if current_user_admin? %>
        <%= f.field_for :admin %>
      <% end %>
    </div>
    <div class="col-lg-5 col-sm-4 col-xs-10">
      <%= f.field_for :email,
      readonly: !['new', 'create', 'validation'].include?(action_name) %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 col-xs-6">
      <%= f.field_for :postal_address %>
    </div>
    <div class="col-sm-3 col-xs-6">
      <%= f.field_for :postal_address_supplement %>
    </div>
    <div class="col-lg-1 col-sm-2 col-xs-4">
      <%= f.field_for :postal_code %>
    </div>
    <div class="col-lg-3 col-sm-2 col-xs-8">
      <%= f.field_for :city %>
    </div>
    <div class="col-sm-2">
      <%= f.field_for :country, readonly: true %>
    </div>
  </div>

  <% if user.new_record? %>
    <%# The form for new users cannot use the formatted versions yet %>
    <div class="row">
      <div class="col-sm-4">
        <%= f.field_for :tel_mobile,  placeholder: :tel_mobile %>
      </div>
      <div class="col-sm-4">
        <%= f.field_for :tel_home,    placeholder: :tel_landline %>
      </div>
      <div class="col-sm-4">
        <%= f.field_for :tel_office,  placeholder: :tel_landline %>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-sm-4">
        <%= f.field_for :tel_mobile_formatted,  placeholder: :tel_mobile,
                                                real_attribute: :tel_mobile %>
      </div>
      <div class="col-sm-4">
        <%= f.field_for :tel_home_formatted,    placeholder: :tel_landline,
                                                real_attribute: :tel_home %>
      </div>
      <div class="col-sm-4">
        <%= f.field_for :tel_office_formatted,  placeholder: :tel_landline,
                                                real_attribute: :tel_office %>
      </div>
    </div>
  <% end %>

  <% if current_user_admin? || current_user.blank? %>
    <div class="row">
      <div class="col-xs-12">
        <%= f.field_for :notes %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <% if user.new_record? %>
      <div class="col-sm-8">
      </div>
    <% else %>
      <div class="col-sm-4">
        <%= User.human_attribute_name(:created_at) +
            " #{user.created_at.to_s(:short)}" %>.
      </div>
      <div class="col-sm-4">
        <% if current_user_admin? && user.activated_at %>
          <%= User.human_attribute_name(:activated_at) +
              " #{user.activated_at.to_s(:short)}" %>.
        <% end %>
      </div>
    <% end %>
    <% unless f.options[:view_mode] %>
      <div class="col-sm-4 text-right">
        <%= "#{ActionView::Helpers::FormBuilder::REQUIRED_ATTRIBUTE_MARK}" +
            " #{t('.required_field')}" %>
      </div>
    <% end %>
  </div>

  <% if user.new_record? %>

    <div class="row">
      <div class="col-sm-4">
        <%= f.field_for :wanted_number_of_share_certificates,
                        as_type: :select,
                        value: options_for_wanted_share_certificates,
                        include_blank: t(".wanted_number_of_share_certificates_msg") %>
      </div>
    </div>


    <%= f.field_for :terms_of_service, as_type: :boolean,
                    label: t(
        current_user_admin? ?
                      ".terms_of_service_for_other_user_checkbox_label_html"
                      : ".terms_of_service_checkbox_label_html",
        articles_of_association_url: ENV['ARTICLES_OF_ASSOCIATION_URL'],
        regulations_url: ENV['REGULATIONS_URL']) %>
  <% end %>

  <%= form_buttons %>
<% end %>
