<tr class="user-index-row<%= ' info' if current_user? user %>" data-href="<%= user_path(user) %>">
  <% if @ordered_by_last_name %>
    <% current_initial = user.last_name.initial %>
    <% if @last_initial == current_initial %>
      <td></td>
    <% else %>
      <td class="user_table_initial_letter"><%= current_initial %></td>
      <% @last_initial = current_initial %>
    <% end %>
  <% end %>
  <td>
    <% if user.admin? %>
      <%= link_to users_path(view: :admins) do %>
        <span class="glyphicon glyphicon-star user-badge-admin" aria-hidden="true" title="Admin"></span>
      <% end %>
    <% elsif user.with_intern_email? %>
      <%= link_to users_path(view: :with_intern_email) do %>
        <span class="glyphicon glyphicon-star-empty user-badge-with-internal-email" aria-hidden="true" title="With intern email"></span>
      <% end %>
    <% end %>
  </td>
  <td>
    <% if user.recently_online? %>
      <span class="glyphicon glyphicon-ok-circle user-badge-activation-status-recently-online" aria-hidden="true" title="Recently online"></span>
    <% elsif user.stale? %>
      <span class="glyphicon glyphicon-record user-badge-activation-status-stale" aria-hidden="true" title="Stale"></span>
    <% elsif user.activated? %>
      <span class="glyphicon glyphicon-ok-circle user-badge-activation-status-active" aria-hidden="true" title="Active"></span>
    <% elsif user.activation_sent_at %>
      <span class="glyphicon glyphicon-time user-badge-activation-status-waiting" aria-hidden="true" title="Activation sent at <%= user.activation_sent_at.to_s(:long)%>"></span>
    <% else %>
      <span class="glyphicon glyphicon-remove-circle user-badge-activation-status-inactive" aria-hidden="true" title="Inactive"></span>
    <% end %>
  </td>
  <td>
    <%= user.id %>
  </td>
  <td>
    <%= user.full_name %>
  </td>
  <td>
    <%= mail_to user.email %>
  </td>
  <td>
    <%= link_to user.count_of_jobs_done_this_year,
                user_path(id: user.id, anchor: "job_overview") %>
  </td>
  <td>
    <% if not user.allowed_to_login? %>
      <%= t ".inactive", class: "user-inactive-label" %>
    <% elsif user.recently_online? %>
      <%= t "time.now" %>
    <% elsif user.last_seen_at %>
      <%= localized_time_tag user.last_seen_at, :relative %>
    <% else %>
      <%= t ".never_logged_in_yet", class: "user-never-logged-in-yet-label" %>
    <% end %>
  </td>
  <td>
    <%= link_to "profile", user, class: "btn btn-xs btn-default" %>
    <%= link_to "edit", edit_user_path(user), class: "btn btn-xs btn-default" %>
  </td>
</tr>