<% if params[:action] == "profile" || params[:id] == current_user.id.to_s %>
  <% provide(:title, "#{t('.title')}") %>
<% else %>
  <% provide(:title, "#{@user.full_name}") %>
<% end %>
<div class="row">
  <div class="col-md-3 col-md-offset-6 col-sm-8">
    <% if @user.geocoded? %>
      <%= link_to t('.show_postal_address_on_map'),
                  @user.postal_address_map_url,
                  target: '_blank',
                  class: 'btn btn-link' %>
    <% end %>
  </div>
  <div class="col-md-3 col-sm-4">
    <% if !@user.activated? %>
      <%= button_to t(@user.activation_sent_at ?
                        '.send_activation_email_again' :
                        '.send_activation_email'),
                    { controller: :users,
                      action:     :activate,
                      id:         @user.id},
                    { class:  "btn btn-success" } %>
    <% end %>
  </div>
</div>

<%= render 'form', user: @user, view_mode: true %>

<div class="user_share_certificates">
  <div>
    <strong><%= t ".share_certificates_title" %></strong>
  </div>
  <hr>
  <%= render(@user.share_certificates) || t(".no_share_certificates") %>
  <% if current_user_admin? %>
    <div class="new_share_certificate_button">
      <%= link_to t('.add_new_share_certificate_for_user'),
                    { controller: :share_certificates,
                      action:     :new,
                      user_id:    @user.id},
                    { class:      "btn btn-primary"} %>
    </div>
  <% end %>
</div>

<% if current_user.admin? %>
  <div id="job_dashboard" class="user_job_dashboard_for_admin">
    <div class="title">
      <strong><%= t ".job_dashboard_title" %></strong>
    </div>
    <hr>
    <%= render 'jobs/user_dashboard', user: @user %>
  </div>
<% end %>

