<div class="user_share_certifcate">
  <% if current_user_admin? %>
    <strong><%= link_to t(".share_certificate_id", id: share_certificate.id),
                        edit_share_certificate_path(share_certificate)%>: </strong>
  <% else %>
    <strong><%= t(".share_certificate_id", id: share_certificate.id) %>: </strong>
  <% end %>
  <% [:sent_at, :payed_at, :returned_at].each do |date_name| %>
    <% if date = share_certificate.try(date_name) %>
      <%= t ".#{date_name}", date: date.to_localized_s(:long) %>
    <% elsif date_name == :sent_at %>
      <%= t ".#{date_name}_not_set" %>
    <% end %>
  <% end %>

  <% unless share_certificate.notes.blank? %>
    <strong><%= t ".notes" %>: </strong>
    <%= truncate share_certificate.notes, length: 50 do %>
      <%= link_to t(".see_full_notes"), share_certificate %>
    <% end %>
  <% end %>
  <p>
  </p>
</div>