<% provide(:title, t('.title')) %>
<%= render 'shared/error_messages', errors: @user.errors %>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4 col-xs-10 col-xs-offset-1">
    <%= content_tag :div, t('.set_up_a_password_to_activate_your_account') %>
    <%= form_for(@user, url: account_activation_path(params[:id])) do |f| %>
      <%= hidden_field_tag :email, @user.email %>
      <%= f.field_for :password %>
      <%= f.field_for :password_confirmation %>
      <%= f.submit_button t('.create_password_and_activate_account') %>
    <% end %>
  </div>
</div>