<% _list_type = (defined?(list_type) ? list_type : nil) %>
<% return if _list_type == :planned_order && !@subscription.planned_order? %>
<% _order = (defined?(order) ? order : _list_type && @subscription.send(_list_type)) %>
<% _items = (defined?(items) ? items : _order&.items) %>
<% _depot = _order&.depot || _items.first&.depot %>

<div class="section-title">
  <% if defined?(title) %>
    <%= title %>
  <% else %>
    <%= t ".section_title.#{_list_type}.#{@subscription.current_items_status}_html",
          localized_validity_of_current_items(@subscription) %>
    <% if _list_type == :planned_order %>
      <%= t ".section_title.planned_order.details_html",
            localized_modification_details(@subscription) %>
    <% end %>
  <% end %>
</div>

<%= delivered_at_depot_info _depot %>

<div class="table-responsive product-options-table">
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th class="col-xs-3"><%= t 'table_headers.name' %></th>
        <th class="col-xs-2"><%= t 'table_headers.unit' %></th>
        <th class="col-xs-3 text-right"><%= t 'table_headers.equivalence_per_unit' %></th>
        <th class="col-xs-1 text-right"><%= t 'table_headers.quantity' %></th>
        <th class="col-xs-3 text-right"><%= t 'table_headers.equivalence' %></th>
      </tr>
    </thead>
    <tbody>
      <% current_total_equivalent = 0 %>
      <% if _items.each do |item| %>
        <% product_option = item.product_option %>
        <tr>
          <td class="col-xs-1"><%= product_option.name %></td>
          <td class=""><%= localized_product_size product_option %></td>
          <%= product_option_equivalence_td_tag product_option %>
          <% current_total_equivalent += item.quantity * product_option.equivalent_in_milk_liters %>
          <td class="text-right"><%= item.quantity %></td>
          <td class="text-right"><%= localized_product_equivalent product_option, quantity: item.quantity %></td>
        </tr>
      <% end.empty? %>
        <tr>
          <td colspan="5" class="text-center"><%= t '.no_current_subscription_items' %></td>
        </tr>
      <% else %>
        <tr class="total current-subscription-items">
          <td colspan="4" class="text-right"><strong><%= t '.total' %>:</strong></td>
          <td class="text-right total"><strong><%= t '.equivalent_in_milk_liters_msg', liters: current_total_equivalent.to_s_significant %></strong></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
