<% provide(:title, t('.title')) %>

<div class="visible-print-block">
  <%= localized_date_tag Date.current %>
</div>

<br>

<% if  @order_summary_by_depot.empty? %>
  <%= t '.no_order_summary_by_depot' %>
<% else %>
  <div class="table-responsive production-list-table no-href-print">
    <table class="table table-hover table-condensed table-striped ">
      <thead>
        <tr>
          <th></th>
          <th><%= t 'table_headers.depot' %></th>
          <th class="text-center subscription-units basic-units"><%= t_abbr 'table_headers.basic_units' %></th>
          <th class="text-center subscription-units supplement-units"><%= t_abbr 'table_headers.supplement_units' %></th>
          <% @product_options.each do |product_option| %>
            <th class="text-center"><%= text_with_tooltip product_option.name, product_option.description, placement: 'top', delay: nil %></th>
          <% end %>
          <th class="text-center"><%= t_abbr 'table_headers.total_equivalent_in_milk_liters' %></th>
        </tr>
      </thead>
      <tbody>
        <% depot_counter = 0 %>
        <% total = {} %>
        <% @order_summary_by_depot
              .sort_by { |depot, _| depot.order }
              .each do |depot, order_summary| %>
          <tr class="depot-orders-info" data-href="<%= subscription_depot_lists_path(anchor: depot_anchor(depot)) %>">
            <td><strong><%= depot_counter += 1 %></strong></td>
            <td><%= link_to depot.name, depot, class: 'no-href-print' %></td>
            <td class="subscription-units basic-units"><%= order_summary[:basic_units] %></td>
            <td class="subscription-units supplement-units"><%= order_summary[:supplement_units] %></td>
            <% @product_options.each do |product_option| %>
              <td class="number"><%= order_summary[product_option.id] || 0 %></td>
            <% end %>
            <td class="total number"><%= order_summary[:flexible_milk_liters] || 0 %></td>
          </tr>
        <% total = total.merge_by_add order_summary %>
        <% end %>
        <tr class="total">
          <td></td>
          <td><%= t 'table_headers.total' %></td>
          <td class="number basic-units"><%= total[:basic_units] %></td>
          <td class="number supplement-units"><%= total[:supplement_units] %></td>
          <% @product_options.each do |product_option| %>
            <td class="number"><%= total[product_option.id] || 0 %></td>
          <% end %>
          <td class="number"><%= total[:flexible_milk_liters] || 0 %></td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
