<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t('.jobs') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= menu_action t('.all_job_types'), job_types_path %>
    <%= menu_action t('.new_job_type'), new_job_type_path, icon: 'plus' %>
    <%= menu_action_separator %>
    <%= menu_action t('.all_jobs'), jobs_path %>
    <%= menu_action t('.new_job'), new_job_path, icon: 'plus' %>
  </ul>
</li>
