<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t('.jobs') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to t('.all_job_types'), job_types_path %></li>
    <li>
      <%= link_to new_job_type_path, class: "menu-action-with-glyphicon" do %>
        <span class='glyphicon glyphicon-plus'></span> <%= t('.new_job_type') %>
      <% end %>
    </li>
    <li role="separator" class="divider"></li>
    <li><%= link_to t('.all_jobs'), jobs_path %></li>
    <li>
      <%= link_to new_job_path, class: "menu-action-with-glyphicon" do %>
        <span class='glyphicon glyphicon-plus'></span> <%= t('.new_job') %>
      <% end %>
    </li>
  </ul>
</li>
