<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t('.subscriptions') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= menu_action t('.subscription.show.all'), subscriptions_path %>
    <%= menu_action t('.subscription.show.with_planned_items'),
                    subscriptions_path(view: :with_planned_items),
                    icon: 'retweet' %>
    <%= menu_action t('.subscription.new'), new_subscription_path, icon: 'plus' %>
    <%= menu_action_separator %>
    <%= menu_action t('.product_lists.production'), subscription_production_list_path, icon: 'list-alt' %>
    <%= menu_action t('.product_lists.depots'), subscription_depot_lists_path, icon: 'list' %>
    <%= menu_action_separator %>
    <%= menu_action t('.product_option.show_all'), product_options_path %>
    <%= menu_action t('.product_option.new'), new_product_option_path, icon: 'plus' %>
  </ul>
</li>
