<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <%= t('.users') %> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <%= menu_action t('.users_all'), users_path %>
    <%= menu_action t('.users_by_id'), users_path(view: :by_id) %>
    <%= menu_action_separator %>
    <%= menu_action t('.users_admins'), users_path(view: :admins), icon: 'star' %>
    <%= menu_action t('.users_with_intern_email'), users_path(view: :with_intern_email), icon: 'star-empty' %>
    <%= menu_action_separator %>
    <%= menu_action t('.users_active'), users_path(view: :active), icon: 'ok-circle' %>
    <%= menu_action t('.users_recently_online'), users_path(view: :recently_online), icon: 'ok-circle text-success' %>
    <%= menu_action t('.users_pending_activation'), users_path(view: :pending_activation), icon: 'time' %>
    <%= menu_action t('.users_inactive'), users_path(view: :inactive), icon: 'remove-circle' %>
    <%= menu_action t('.users_stale'), users_path(view: :stale), icon: 'record' %>
    <%= menu_action_separator %>
    <%= menu_action t('.users_without_tel'), users_path(view: :without_tel), icon: 'warning-sign' %>
    <%= menu_action t('.users_without_email'), users_path(view: :without_email), icon: 'warning-sign' %>
    <%= menu_action_separator %>
    <%= menu_action t('.share_certificates'), share_certificates_path %>
    <%= menu_action_separator %>
    <%= menu_action t('.new_user'), new_user_path, icon: 'plus' %>
  </ul>
</li>
